.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
.Rapp.history
BivariateExtremesCPH2023/BivariateExtremes_ca*
BivariateExtremesCPH2023/Untitled_*
BivariateExtremesCPH2023/BivariateExtremes_*
BivariateExtremesCPH2023/Figures
*.pdf
!assets/talks/*.pdf
CastroCamilo_Huser_2020.pdf

/.quarto/
**/*.quarto_ipynb
