.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
BivariateExtremesCPH2023/BivariateExtremes_ca*
BivariateExtremesCPH2023/Untitled_*
BivariateExtremesCPH2023/BivariateExtremes_*
BivariateExtremesCPH2023/Figures
*.pdf
CastroCamilo_Huser_2020.pdf
